@import url('https://fonts.googleapis.com/css?family=PT+Sans');
svg{
  border: 1px black solid;
  margin-left: 3px;
}

#legend{
  border: none;
  position: absolute;
  right: 25px;
  top: 70px;
}

body{
  font-family: 'PT Sans', sans-serif;
}
